pre code {
	line-height: 1.4em !important;
	font-family: menlo !important;

	border: 1px solid #636363 !important;
}

div#projects-marquee img {
	border:0;
	background-color: #FFFFFF;
}

img.white {
	border:0 !important;
	background-color:#FFFFFF !important;
}

table#profile {
	width:100%;
}

table#profile td {
	padding: 0px;
	margin: 0px;
	line-height:1.2em;
	text-align: right;
	vertical-align: top;
	background-color: #eeeeee;
	color:black;
	font-size: 40%;
}
table#profile td.name { text-align: left; width: 100%;}
table#profile tr.head td { text-align: center; }

